<section class="w-70 text-white">
  <div class="p-4 bg-[#0d1b2b] flex items-center gap-2">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="icon icon-tabler icon-tabler-dashboard"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <path d="M3 3m0 0h18v8H3z" />
      <path d="M3 11m0 0h18v10H3z" />
      <path d="M7 7v6" />
      <path d="M11 7v2" />
      <path d="M15 7v1" />
    </svg>
    <h1
      class="text-2xl font-medium w-full cursor-pointer"
      (click)="changeView(views.Dashboard)"
    >
      Tableau de bord
    </h1>
  </div>

  <div class="h-screen bg-slate-500">
    <nav>
      <ul>
        <li
          class="w-full cursor-pointer px-4 py-3 transition-all duration-200 hover:bg-slate-600"
          (click)="changeView(views.AddClient)"
        >
          Ajouter un client
        </li>
      </ul>
    </nav>
  </div>
</section>
