<fa-icon
  (click)="toggleDarkMode()"
  [icon]="isDarkMode ? faMoon : faSun"
  class="text-black dark:text-white text-3xl absolute z-50 top-16 right-20 cursor-pointer"
></fa-icon>
<app-notification></app-notification>
<div
  class="min-h-screen dark:bg-gradient-to-b dark:from-slate-700 dark:to-slate-950 bg-gradient-to-br from-[#cfcfcf] to-[#008080] flex items-center justify-center px-4"
>
  <div
    class="bg-white dark:bg-slate-900 shadow-xl rounded-2xl mx-auto max-w-3xl overflow-hidden"
  >
    <!-- Header Section -->
    <div class="bg-gray-50 dark:bg-slate-800 px-8 py-6">
      <h3 class="text-2xl dark:text-white font-bold">Salut 👋</h3>
      <p class="mt-1 text-sm dark:text-slate-400 text-gray-500">
        Remplissez les informations ci-dessous pour créer un nouveau compte
      </p>
    </div>

    <!-- Form Section -->
    <form
      [formGroup]="userForm"
      (ngSubmit)="addUser()"
      class="px-8 py-6 space-y-6 w-2xl"
    >
      <app-notification></app-notification>

      <!-- Name Section -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-5">
        <!-- nom complet -->

        <div>
          <div class="relative">
            <p for="fullName" class="mb-2 dark:text-slate-300">Nom complet</p>
            <input
              type="text"
              id="fullName"
              formControlName="fullName"
              placeholder="Entrez votre nom complet"
              class="w-full px-4 dark:placeholder:text-slate-500 dark:text-slate-100 py-3 border border-gray-50 dark:border-slate-700 rounded-lg bg-gray-100 dark:bg-slate-900 dark:focus:bg-slate-700 dark:focus:border-teal-800 focus:border-teal-500 focus:outline-none transition duration-150 ease-in-out"
              [ngClass]="{
                'border-red-400':
                  userForm.get('fullName')?.invalid &&
                  userForm.get('fullName')?.touched
              }"
            />
          </div>
          <p
            class="mt-1 text-sm text-red-400"
            *ngIf="
              userForm.get('fullName')?.invalid &&
              userForm.get('fullName')?.touched
            "
          >
            Le nom est requis
          </p>
        </div>
        <!-- nom d'utilisateur -->
        <div>
          <div class="relative">
            <p for="userName" class="mb-2 dark:text-slate-300">
              Nom d'utilisateur
            </p>
            <input
              type="text"
              id="userName"
              formControlName="userName"
              placeholder="Entrez un nom d'utilisateur"
              class="w-full px-4 dark:placeholder:text-slate-500 dark:text-slate-100 py-3 border border-gray-50 dark:border-slate-700 rounded-lg bg-gray-100 dark:bg-slate-900 dark:focus:bg-slate-700 dark:focus:border-teal-800 focus:border-teal-500 focus:outline-none transition duration-150 ease-in-out"
              [ngClass]="{
                'border-red-400':
                  userForm.get('userName')?.invalid &&
                  userForm.get('userName')?.touched
              }"
            />
          </div>
          <p
            class="mt-1 text-sm text-red-400"
            *ngIf="
              userForm.get('userName')?.invalid &&
              userForm.get('userName')?.touched
            "
          >
            Le nom d'utilisateur est requis
          </p>
        </div>
      </div>

      <!-- numéro de téléphone -->
      <div class="mb-5">
        <div class="relative">
          <p class="mb-2 dark:text-slate-300">Numéro de téléphone</p>
          <input
            type="text"
            id="phoneNumber"
            formControlName="phoneNumber"
            placeholder="Entrez le numéro"
            class="w-full px-4 dark:placeholder:text-slate-500 dark:text-slate-100 py-3 border border-gray-50 dark:border-slate-700 rounded-lg bg-gray-100 dark:bg-slate-900 dark:focus:bg-slate-700 dark:focus:border-teal-800 focus:border-teal-500 focus:outline-none transition duration-150 ease-in-out"
            [ngClass]="{
              'border-red-400':
                userForm.get('phoneNumber')?.invalid &&
                userForm.get('phoneNumber')?.touched
            }"
          />
        </div>
        <p
          class="mt-1 text-sm text-red-400"
          *ngIf="
            userForm.get('phoneNumber')?.invalid &&
            userForm.get('phoneNumber')?.touched
          "
        >
          Le numéro est obligatoire
        </p>
      </div>

      <!-- email -->
      <div class="mb-5">
        <div class="relative">
          <p class="mb-2 dark:text-slate-300">Adresse électronique</p>
          <input
            type="text"
            id="email"
            formControlName="email"
            placeholder="Entrez votre E-mail"
            class="w-full px-4 dark:placeholder:text-slate-500 dark:text-slate-100 py-3 border border-gray-50 dark:border-slate-700 rounded-lg bg-gray-100 dark:bg-slate-900 dark:focus:bg-slate-700 dark:focus:border-teal-800 focus:border-teal-500 focus:outline-none transition duration-150 ease-in-out"
            [ngClass]="{
              'border-red-400':
                userForm.get('email')?.invalid && userForm.get('email')?.touched
            }"
          />
        </div>
        <p
          class="mt-1 text-sm text-red-400"
          *ngIf="
            userForm.get('email')?.invalid && userForm.get('email')?.touched
          "
        >
          Entrez un E-mail valid
        </p>
      </div>

      <!-- mot de passe -->
      <div class="space-y-6 mb-10">
        <div class="mb-2">
          <p class="mb-2 dark:text-slate-300">Mot de passe</p>
          <div class="flex items-center">
            <input
              [ngClass]="{
                'border-red-400':
                  userForm.get('password')?.invalid &&
                  userForm.get('password')?.touched
              }"
              name="password"
              formControlName="password"
              minlength="8"
              required
              [type]="showPassword ? 'text' : 'password'"
              placeholder="Password"
              class="w-full px-4 py-3 dark:placeholder:text-slate-500 dark:text-slate-100 border border-gray-50 dark:border-slate-700 rounded-tl-lg rounded-bl-lg bg-gray-100 dark:bg-slate-900 dark:focus:bg-slate-700 dark:focus:border-teal-800 focus:border-teal-500 focus:outline-none transition duration-150 ease-in-out"
            />

            <button
              class="bg-gray-100 dark:bg-slate-800 px-4 py-3 rounded-r-lg"
              (click)="tooglePasswordVisibility()"
              type="button"
            >
              <svg
                *ngIf="showPassword"
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6 dark:text-white text-black-200 cursor-pointer"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                />
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
                />
              </svg>

              <!-- Eye Closed Icon -->
              <svg
                *ngIf="!showPassword"
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6 dark:text-white text-black-200 cursor-pointer"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.87 9.87 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.542 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21"
                />
              </svg>
            </button>
          </div>
        </div>
        <p
          *ngIf="
            userForm.get('password')?.invalid &&
            userForm.get('password')?.touched
          "
          class="text-red-400 text-sm mt-1"
        >
          <span *ngIf="userForm.get('password')?.errors?.['required']"
            >Le mot de passe est obligatoire.</span
          >
          <span *ngIf="userForm.get('password')?.errors?.['minlength']"
            >Le mot de passe doit contenir au moins 8 caractères.</span
          >
        </p>
      </div>

      <!-- Submit Button -->
      <div>
        <button
          type="submit"
          [disabled]="userForm.invalid || isLoading"
          class="bg-teal-600 text-white px-4 py-2 rounded-md shadow-sm w-full duration-300 transition-all cursor-pointer disabled:cursor-not-allowed disabled:bg-gray-400 hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-teal-500 focus:ring-offset-2 text-center flex justify-center"
        >
          <svg
            class="animate-spin h-6 w-6 text-[#fff] flex justify-center"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            *ngIf="isLoading"
          >
            <circle
              cx="12"
              cy="12"
              r="5"
              stroke="currentColor"
              stroke-width="2"
            ></circle>
            <path
              class="opacity-75"
              fill="currentColor"
              d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
            ></path>
          </svg>

          <span *ngIf="!isLoading"> Connectez-vous </span>
        </button>
      </div>
      <div class="flex items-center justify-center space-x-2 mt-5">
        <p class="dark:text-slate-400">Vous avez déjà un compte ?</p>
        <p
          class="text-blue-500 hover:text-blue-700 cursor-pointer"
          [routerLink]="['/login']"
        >
          Connectez-vous
        </p>
      </div>
    </form>
  </div>
</div>
