<section class="w-80 h-screen bg-slate-100 flex flex-col dark:bg-slate-900">
  <div class="flex flex-col flex-grow">
    <!-- header -->
    <div class="px-4 py-3 border-b border-slate-200 dark:border-slate-800">
      <div class="flex items-center justify-between">
        <div class="flex items-center gap-1.5">
          <!-- image -->
          <div>
            <img [src]="logo" alt="logo" />
          </div>

          <!-- title -->
          <h4 class="font-semibold">FitHub</h4>
        </div>

        <!-- hide menu button -->
      </div>
    </div>

    <!-- navigation -->
    <div class="px-4 py-3">
      <h3 class="text-lg mb-4">Menu principal</h3>
      <nav>
        <a
          routerLink="dashboard"
          routerLinkActive="bg-slate-500 text-white dark:bg-slate-700"
          class="flex justify-between dark:hover:bg-slate-700 transition-all duration-300 hover:bg-slate-200 rounded px-3 py-2 cursor-pointer mb-2"
        >
          <p class="space-x-1.5">
            <fa-icon [icon]="faDashboard" class="icon"></fa-icon>
            <span class="">Tableau de board</span>
          </p>
        </a>
        <a
          routerLink="client"
          routerLinkActive="bg-slate-500 text-white dark:bg-slate-700"
          class="flex justify-between dark:hover:bg-slate-700 transition-all duration-300 hover:bg-slate-200 rounded px-3 py-2 cursor-pointer mb-2"
        >
          <p class="space-x-1.5">
            <fa-icon [icon]="faClient" class="icon"></fa-icon>
            <span class="">Clients</span>
          </p>
          <fa-icon [icon]="faArrowDown" class="text-slate-300"></fa-icon>
        </a>

        <a
          routerLink="offre"
          routerLinkActive="bg-slate-500 text-white dark:bg-slate-700"
          class="flex justify-between dark:hover:bg-slate-700 transition-all duration-300 hover:bg-slate-200 rounded px-3 py-2 cursor-pointer mb-2"
        >
          <p class="space-x-1.5">
            <fa-icon [icon]="faDumbell" class="icon"></fa-icon>
            <span class="">Offres</span>
          </p>
          <fa-icon [icon]="faArrowDown" class="text-slate-300"></fa-icon>
        </a>

        <a
          routerLink="souscription"
          routerLinkActive="bg-slate-500 text-white dark:bg-slate-700"
          class="flex justify-between dark:hover:bg-slate-700 transition-all duration-300 hover:bg-slate-200 rounded px-3 py-2 cursor-pointer mb-2"
        >
          <p class="space-x-1.5">
            <fa-icon [icon]="faBell" class="icon"></fa-icon>
            <span class="">Souscription</span>
          </p>
          <fa-icon [icon]="faArrowDown" class="text-slate-300"></fa-icon>
        </a>
      </nav>
    </div>
  </div>

  <!-- footer -->

  <fa-icon
  (click)="toggleDarkMode()"
    [icon]="isDarkMode ? faMoon : faSun"
    class="text-black dark:text-white text-lg flex justify-end p-6 cursor-pointer"
  ></fa-icon>
</section>
